{% extends 'register/base.html' %}
{% block stylesheets %}
  {{ block.super }}
  <link href="/static/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css" rel="stylesheet">
  <link href="/static/vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
<div class="right_col" role="main">
    <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div>
                    <div>
                        <h2>ユーザー情報</h2>
                    </div>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th>姓</th>
                                <td>{{ user.last_name }}</td>
                            </tr>
                            <tr>
                                <th>名</th>
                                <td>{{ user.first_name }}</td>
                            </tr>
                            <tr>
                                <th>メールアドレス</th>
                                <td>{{ user.email }}</td>
                            </tr>
                        </tbody>
                    </table>
                  <div class="clearfix"></div>
              </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

